/* 
Title: projects.css (https://github.com/buwebdev/web-330/blob/master/portfolio/projects.css)
Author: Richard Krasso 
Date: 2/2/2023
Description: An CSS page that helped me with creating this container
*/

#projects-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 20px;
}